@import "mixins";
@import "text";
body{
  padding: 0;
  background:url('../img/body_bg.png') repeat-x;
}
p{
  font-family: arial,helvetica;
  color: #666666;
  font-size: 13px;
  line-height: 19px;
}
#wrapper{
  background:url('../img/main_bg.png') no-repeat 129px 0;
  min-height: 600px;
  //margin: 0 auto 0 145px;
  margin: 0 auto;
  padding-right: 125px;
  width: 950px;
  padding-top: 35px;
  padding-left:125px;

//header
  header{
    .header-top{
      .logo{}
      .top-links{
        text-align:right;
        margin-top: 22px;
        ul{
          margin: 0;
          li{
            display: inline-block;
            list-style: none;
            color:#999999;
            background: url('../img/sprite.png') no-repeat;
            padding-bottom: 8px;
            padding-left: 34px;
            padding-top: 3px;


            &.email{
              background-position:  -9px -8px ;
            }
            &.tele{
              background-position:  -1px -37px ;
            }
            &.mobi{
              background-position:  -1px -73px ;
            }
            a{
              text-decoration: none;
              color: #999999;

            }

          }
        }
      }
    }


    nav{
      ul{
        margin:0;
        li{
          display:block;
          float: left;
          //padding:15px 0;
          text-align: center;
          height: 48px;
          list-style: none;
          margin: 0;
          background: url('../img/sprite.png') no-repeat -88px -332px;
          &.first{
            background-position: -62px -332px;
            //padding-left: 10px;
            &:hover{
              background-position: -62px -385px;
            }
            a{
              background: none;
              padding: 14px;
            }
          }
          &.last{
            background-position: -608px -332px;
            a{
              padding: 14px 15px;
            }
            //padding-right: 10px;
            &:hover{
              background-position: -608px -385px;
            }
          }
          a{
            padding: 14px 10px;
            display: inline-block;
            color: #fff;
            //@include Droid_Sans;
            font-size: 13px;
            background: url('../img/sprite.png') no-repeat -17px -102px;
            &:hover{
              text-decoration: none;
            }
          }
          &:hover{
            background-position: -88px -385px;
          }
        }
      }
    }
  }//end of header
  .main{
    padding-bottom:20px;
    .banner-area{
      .banner-left{
        .left-top{
          @extend .clearfix;
          h1{

            color: #70006d;
            font-weight: normal;
            font-size: 29px;
            margin-top: 5px;

          }
          .training-name{
            float: left;
            padding-bottom: 20px;
            width: 344px;
            padding-left: 20px;
            padding-top: 36px;
            background: url('../img/sprite.png') -278px -5px no-repeat;
          }
          .price{
            width:180px;
            padding: 40px 0;
            background: #000;
            text-align: center;
            color: #fff;
            float: left;
            label{
              color: #FFFFFF;
              font-size: 28px;
              line-height: 32px;
              strong{
                font-weight: bold;
              }
            }
          }
        }
        .left-bottom{
          background: url('../img/sprite.png') no-repeat -70px -204px;
          height: 75px;
          padding: 20px;
          color:#fff;
          h2{
            display: block;
            margin-bottom: 5px;
            margin-top: 0;
            font-size: 27px;
            font-weight: 700;
          }
          h3{
            display: block;
            font-size: 15px;
            font-weight: normal;
          }
        }
      }
      .banner-right{
        margin: 0;
        width: 405px;
      }
    }
    .main-content{
      h2{
        font-family:"Gill Sans MT Pro Book" ;
        color: #666666;
        font-weight:200;
		line-height: 33px;
        b{
          color: #570057;
          font-weight: 500;
          font-family: "Gill Sans MT Pro";
        }
        span{
          color: #ea008a;
        }
      }
      .left{
        padding: 10px;
        .box{

          img{
            display: block;
          }
          &.left{
            p{
              float: left;
              width: 350px;
            }
            img{
              float: right;
            }
          }
          &.right{


            p{
              float: right;
              width: 275px;
            }
            img{
              float: left;
            }
          }
        }
		.testimonial{
			position:relative;
			blockquote{
				background: url(../img/sprite.png) no-repeat -26px -609px;
				line-height: 21px;
				border:none;
				padding:17px 64px 20px 23px;
				font-family:Arial, Helvetica, sans-serif;
				font-weight:900;
				font-size:14px;
				color:#666666;
				width:297px;
			}
			.image{
				position: absolute;
				right: -12px;
				top: 9px;
				label{
					 padding-left: 25px;
					strong{
					color:#570057;
					}
				}
			}
		}

      }
      .right_sidebar{
		  	border-left:1px solid #ededed;
			width: 405px;
			margin:5px 0 0;
        .box{
          padding: 15px 20px;
          &.book_training{
            //padding: 15px 20px;
            background:url('../img/form_bg.png') repeat-x left top;
            

            form{
              .input_box{
                height:35px;
                .label{
                  padding-top: 5px;
                  float: left;
                  background: none;
                  color: #333333;
                  font-family: Frutiger LT 55 Roman;
                  text-shadow: none;
                  font-size: 13px;
                }
                .inputs{
                  display: block;
                  float: right;
                  margin-right: 25px;
                  input{
                    width: 267px;

                  }
                }
                input{
                  width: 267px;
                  &[type="submit"]{
                    width:260px;
                    background: url('../img/sprite.png') -12px -471px;
                    height: 50px;
                    width: 270px;

                    &:hover{
                      //background-position: -12px -529px;
                    }
                  }
                }
              }
              .captcha{
                //float:right;
				margin-top:10px;
                p{
                  font-family: "Gill Sans MT Pro";
                  font-size: 14px;
				  text-align:right;
                  color: #333333;
                }
                .captcha-input{
                  width: 120px;
                }
              }
            }
          }
          &.call{
            background:url('../img/call_bg.png') repeat-x;
			margin-top:5px;
            p{
              color: #fff;
              font-family: "Gill Sans MT Pro";
              font-size: 17px;
              text-align: center;
			  line-height: 17px;
   			 margin-bottom: 4px;
              &.call_no{
                color: #ffcc00;
                font-family: Frutiger LT 55 Roman;
                font-size: 27px;
              }
            }
          }
		  &.videos{
				@extend .clearfix ;
				padding:10px 10px 10px 20px;
				.video_thumb{
					
					float: left;
					margin-left: 10px;
					width: 182px;
					&.first{
						margin:0;
					}
					span{
						font-family:Arial, Helvetica, sans-serif;
						font-size:12px;
						color:#666666;
						font-weight:bold;	
					}
				}
			}
        }

		 
      }
    }//end of main-content
  }//end of main
  footer{
    font-family: Trebuchet MS;
    font-size: 13px;
    border-top:2px solid #f2f2f2;
    padding-top:25px;
    padding-bottom:50px;
    .footer-logos{
      margin-bottom:45px;
      ul{
        @extend .clearfix;
        margin:0;
        li{
          display: block;
          float: left;
          margin: 0 10px;
          list-style: none;
          &.first{ margin-left: 0;}
          &.last{ margin-right: 0;}
        }
      }
    }
    .copyrights{
      text-align: center;
      a{
        font-family: Trebuchet MS;
        color: #ea008a;
      }
    }
    address{
      text-align: center;
      margin-bottom: 15px;
    }
    .elite{
      text-align: center;
    }

  }
}//end of wrapper